.section__bg {
    background: url(../images/backround-black.png);
    height: 575px;
    margin-top: 62px;
  }
  .bg__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #fefcf7;
    padding-top: 110px;
    font-family: "Fraunces", serif;
  }
  .bg__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 540px;
    margin-top: 32px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Barlow", sans-serif;
  }
  .bg {
    display: flex;
    justify-content: space-around;
    margin-top: -230px;
  }
  .bg__card {
    display: flex;
    flex-direction: column;
  }
  .bg__img {
    width: 71px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
  }
  .bg__card {
    background: #0e8784;
    border-radius: 8px;
    width: 350px;
    height: 382px;
  }
  .bg__titles {
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #fefcf7;
    font-family: "Fraunces", serif;
  }
  .bg__info {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fefcf7;
    font-family: "Barlow", sans-serif;
    width: 255px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
  }