.hero {
    background: url(../images/coffee-img.png);
    height: 800px;
    background-repeat: no-repeat;
    margin-top: 40px;
    border-radius: 10px;
  }
  .hero {
    display: flex;
    flex-direction: column;
    padding-left: 117px;
    padding-top: 120px;
  }
  .hero__title {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fefcf7;
    width: 493px;
  }
  .hero__info {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 405px;
    margin-top: 32px;
  }
  .hero__btn {
    font-family: "Fraunces", serif;
    width: 217px;
    height: 56px;
    background: #0e8784;
    border-radius: 6px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #fefcf7;
    border: none;
    margin-top: 70px;
    cursor: pointer;
  }
  .hero__btn:active {
    background: #66d2cf;
  }